{% extends 'compvas/item_vew.html' %}

{% block item %}

<h1>{{ assignment_item.name }}</h1>

<div class="jumbotron ">
  <h3>Esential info</h3>
  <p>due Date:{{ assignment_item.due_at }}</p>
  <p>Muted:{{ assignment_item.muted }}</p>
  <p>submission types:{{ assignment_item.submission_types }}</p>
  <p>Is compleat:{{ assignment_item.has_submitted_submissions }}</p>
</div>

{{ assignment_item.description|safe }}

<!-- rubric -->
{% if assignment_item.rubric %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Criteria</th>
        <th scope="col">rating</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for element in assignment_item.rubric %}
        <tr>
          <th scope="row">{{ element.description }}</th>

          {% for item in element.ratings %}
            <td><strong>{{ item.description }}</strong> {{ item.points }} <br> <small> {{ item.long_description }} </small></td>
          {% endfor %}

        </tr>
      {% endfor %}
    </tbody>

  </table>
{% endif %}

<!-- grades -->
{% if assignment_item.submission.entered_score %}
<div class="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#grade" aria-expanded="false" aria-controls="grade">
          Grades
        </button>
      </h5>
    </div>

    <div id="grade" class="collapse" aria-labelledby="grade" data-parent="#accordion">
      <div class="card-body">

        <!-- assignment card -->

        <p>Score: {{ assignment_item.submission.entered_score }} out of {{ assignment_item.points_possible }}</p>
        <p>Grade: {{ assignment_item.submission.entered_grade }}</p>
        <p>Late: {{ assignment_item.submission.late }}</p>
        <a href="{{ assignment_item.submission.attachments.0.url }}" class="btn btn-link-dark" >Submission Download </a>

      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- submission -->
<div class="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#submit" aria-expanded="false" aria-controls="submit">
          Submit assignment
        </button>
      </h5>
    </div>

    <div id="submit" class="collapse" aria-labelledby="submit" data-parent="#accordion">
      <div class="card-body">

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <!-- submit card -->
        <form class="create card-body" action="{% url 'compvas:new_submission' class.id assignment_item.id %}" method="post">
          {% csrf_token %}

          <div class="form-group">
            <label for="sub_input">Enter your assignment here</label><br>
            <textarea class="form-control" name="sub_input" id="sub_input" placeholder="this can be text or a url" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="comment">Comments</label><br>
            <input type="text" name="comment" id="comment" placeholder="comment"><br>
          </div>

          <input class='btn btn-success' type="submit" value="create">

        </form>


      </div>
    </div>
  </div>
</div>


<br>
<!-- raw html -->

<div class="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#id{{ module_item.id }}" aria-expanded="false" aria-controls="id{{ module_item.id }}">
          {{ assignment_item.name }} Html
        </button>
      </h5>
    </div>

    <div id="id{{ module_item.id }}" class="collapse" aria-labelledby="name{{ module_item.id }}" data-parent="#accordion">
      <div class="card-body">

        <!-- assignment card -->
        {{ assignment_item.description }}


      </div>
    </div>
  </div>
</div>


{% endblock %}
