{% extends 'base.html' %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      {% if error_info or error_class %}
        <p>{{ error_info }}</p>
        <p>{{ error_class }}</p>
        <p>The page could not load</p>
      {% else %}
      <h1 class="display-3">{{ class.name }}</h1>


      {% if class_info.0.class_id != class.id %}
        <div class="card">
          <div class="card-header">
            <h2>Create a class notes</h2>
          </div>

          <div class="card-body">

            <form class="create card-body" action="{% url 'compvas:new_notes' class.id %}" method="post">
              {% csrf_token %}

              <div class="form-group">
                <label for="notes">notes</label><br>
                <input type="text" name="notes" id="notes" placeholder="enter any notes or info you want displayed"><br>
              </div>

              <div class="form-group">
                <label for="compass_link">link to compas class</label><br>
                <input type="text" id="compass_link" name="compass_link" placeholder="link"><br>
              </div>

              <div class="form-group">
                <label for="google_sites">link to google site</label><br>
                <input type="text" id="google_sites" name="google_sites" placeholder="link"><br>
              </div>

              <div class="form-group">
                <label for="other_resource">link to other class resources</label><br>
                <input type="text" id="other_resource" name="other_resource" placeholder="link"><br>
              </div>

              <input class='btn btn-success' type="submit" value="create">

            </form>

          </div>
        </div>

      {% else %}

        <div class="btn-group float-right">

            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit Notes
            </button>


            <div class="dropdown-menu dropdown-menu-right">
              <div class="">

                <form class="create card-body" action="{% url 'compvas:new_notes' class.id %}" method="post">
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="notes">Notes</label><br>
                    <textarea name="notes" id="notes" rows="8" cols="80">{{ class_info.0.notes }}</textarea><br>
                  </div>

                  <div class="form-group">
                    <label for="compass_link">Link to Compas class</label><br>
                    <input type="text" id="compass_link" name="compass_link" value="{{ class_info.0.compass_link }}"><br>
                  </div>

                  <div class="form-group">
                    <label for="google_sites">Link to Google site</label><br>
                    <input type="text" id="google_sites" name="google_sites" value="{{ class_info.0.google_sites }}"><br>
                  </div>

                  <div class="form-group">
                    <label for="other_resource">Link to other class resources</label><br>
                    <input type="text" id="other_resource" name="other_resource" value="{{ class_info.0.other_resource }}"><br>
                  </div>

                  <input class='btn btn-success' type="submit" value="create">

                </form>

              </div>

            </div>
          </div>

        <!-- notes display -->
        <div class="">

          <h3>Class notes</h3>
          <p>{{ class_info.0.notes }}</p>

          <a class="btn btn-info" href="{{ class_info.0.compass_link }}">Compass</a>
          <a class="btn btn-info" href="{{ class_info.0.google_sites}}">Google Sites</a>
          <a class="btn btn-info" href="{{ class_info.0.other_resource }}">Resources</a>
          <a href="https://jmss.instructure.com/courses/{{ class.id }}" class="btn btn-info ">Canvas link </a>
          <a class="btn btn-danger float-right" href="{% url 'compvas:classes_refresh' class.id %}">Refresh</a>
        </div>

      {% endif %}

      {% endif %}
    </header>

  <!-- front page -->
  <div id="accordion">
    <h3>Pages</h3>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#front_page" aria-expanded="false" aria-controls="front_page">
            {{ front_page.title }}
          </button>
        </h5>
      </div>

      <div id="front_page" class="collapse" aria-labelledby="front_page" data-parent="#accordion">

        {{ error_frontpage }}
        {{ front_page.body|safe }}

      </div>
    </div>
  </div>


  <br>

  <div id="accordion">
    <h3>Modules</h3>
    {% if error_modules %}
      <p>{{ error_modules }}</p>
    {% else %}
    {% for module in modules %}

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#id{{ module.id }}" aria-expanded="false" aria-controls="id{{ module.id }}">
            {{ module.name }}
          </button>
        </h5>
      </div>

      <div id="id{{ module.id }}" class="collapse" aria-labelledby="name{{ module.id }}" data-parent="#accordion">
        <ul class="list-group">


          <!-- Module card -->



            {% for item in module.items %}
              <li class="list-group-item">
                <h6>{{ item.title }}</h6>
                <a href="{% url 'compvas:module_item' class.id item.title %}" class="btn btn-success m-1">Full Module</a>
                <a href="{{ item.html_url }}" class="btn btn-info m-1">canvas link</a>
              </li>
            {% endfor %}
          <!-- /.row -->



        </ul>
      </div>
    </div>

    {% endfor %}
    {% endif %}
  </div>

  <br>

  <div id="accordion flex-reverse">
    <h3>Assignments</h3>
    {% if error_assign %}
      <p>{{ error_assign }}</p>
    {% else %}
    {% for assignment in assign reversed %}



    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#id{{ assignment.id }}" aria-expanded="false" aria-controls="id{{ assignment.id }}">
            {{ assignment.name }}
          </button>
          <a class="btn btn-success float-right" href="{% url 'compvas:assignment_item' class.id assignment.id %}">{{ assignment.name }}</a>
        </h5>
      </div>

      <div id="id{{ assignment.id }}" class="collapse" aria-labelledby="name{{ assignment.id }}" data-parent="#accordion">
        <div class="card-body">
          <a class="btn btn-info float-right" href="https://jmss.instructure.com/courses/{{ class.id }}/assignments/{{ assignment.id }}">Canvas link</a>


          <!-- assignment card -->
          <div class="">
            <h3>Esential info</h3>
            <p>due Date:{{ assignment.due_at }}</p>
            <p>Muted:{{ assignment.muted }}</p>
            <p>submission types:{{ assignment.submission_types }}</p>
            <p>Is compleat:{{ assignment.has_submitted_submissions }}</p>

            {% if assignment.submission.entered_score %}
              <p>Score: {{ assignment.submission.entered_score }} out of {{ assignment.points_possible }}</p>
              <p>Grade: {{ assignment.submission.entered_grade }}</p>
            {% endif %}
          </div>



        </div>
      </div>
    </div>

    {% endfor %}
    {% endif %}
  </div>

  <br>
  <!-- files -->
  <div id="accordion flex-reverse">
    <h3>Files</h3>
    {% if error_files %}
      <p>{{ error_files }}</p>
    {% else %}
    {% for file in files %}



    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#id{{ file.id }}" aria-expanded="false" aria-controls="id{{ file.id }}">
            {{ file.filename }}
          </button>
          <a class="btn btn-info float-right" href="{{ file.url }}">Download</a>
        </h5>
      </div>

      <div id="id{{ file.id }}" class="collapse" aria-labelledby="name{{ file.id }}" data-parent="#accordion">
        <div class="card-body">

          <img src="{{ file.thumbnail_url }}" alt="">
          <!-- file card -->
          <div class="">
            <h3>File info</h3>
            <p>Last modefied:{{ file.modified_at }}</p>
            <p>Size:{{ file.size }}</p>
          </div>



        </div>
      </div>
    </div>

    {% endfor %}
    {% endif %}
  </div>





  <!-- quizes -->
  <div id="accordion">
    <!--<h3>Quizzes</h3>-->
    {% for quiz in quizes %}

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#id{{ quiz.id }}" aria-expanded="false" aria-controls="id{{ quiz.id }}">
            {{ quiz.title }}
          </button>
          <a class="btn btn-info float-right" href="https://jmss.instructure.com/courses/{{ class.id }}/quizzes/{{ quiz.id }}">Canvas link</a>
        </h5>
      </div>

      <div id="id{{ quiz.id }}" class="collapse" aria-labelledby="name{{ quiz.id }}" data-parent="#accordion">
        <div class="card-body">

          <p>the</p>
          <!-- assignment card -->
          {{ quiz.description|safe }}

          {{ quiz. }}

        </div>
      </div>
    </div>

    {% endfor %}
  </div>




  </div>
  <!-- /.container -->
  <br>
  <br><br><br><br><br>

{% endblock %}
