{% extends 'base.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-8">

        {% if error_info or error_class %}
          <p>{{ error_info }}</p>
          <p>{{ error_class }}</p>
          <p>The page could not load</p>
        {% else %}

        {% block item %}{% endblock %}

        {% endif %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- modules -->
        <div id="card my-4">
          <div class="card-header">
            <h3>Modules</h3>
          </div>


          <div class="card-body">
            {% if error_modules %}
              <p>{{ error_modules }}</p>
            {% else %}
            {% for module in modules %}

              <h5 class="px-1 ">
                <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#id{{ module.id }}" aria-expanded="false" aria-controls="id{{ module.id }}">
                  {{ module.name }}
                </button>
              </h5>

              <div id="id{{ module.id }}" class="collapse" aria-labelledby="name{{ module.id }}" data-parent="#accordion">

                    {% for item in module.items %}
                      <a href="{% url 'compvas:module_item' class.id item.title %}" class="btn btn-success m-1">{{ item.title }}</a>
                    {% endfor %}

              </div>

            {% endfor %}
            {% endif %}
          </div>

        </div>

        <!-- asignments-->
        <div id="card my-4">
          <div class="card-header">
            <h3>Asignments</h3>
          </div>


          <div class="card-body ">
            {% if error_assign %}
              <p>{{ error_assign }}</p>
            {% else %}
            {% for assignment in assign reversed %}
              <div class="m-2">
                <a class="btn btn-success " href="{% url 'compvas:assignment_item' class.id assignment.id %}">{{ assignment.name }}</a>
              </div>
            {% endfor %}
            {% endif %}
          </div>

        </div>

        <div id="accordion">

        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
