
{% extends 'compvas/item_vew.html' %}

{% block item %}
<h2>{{ module_item.title }}</h2>

{{ module_item.body|safe }}

<div class="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link-dark collapsed dropdown-toggle" data-toggle="collapse" data-target="#id{{ module_item.id }}" aria-expanded="false" aria-controls="id{{ module_item.id }}">
          {{ module_item.title }} Html
        </button>
      </h5>
    </div>

    <div id="id{{ module_item.id }}" class="collapse" aria-labelledby="name{{ module_item.id }}" data-parent="#accordion">
      <div class="card-body">

        <!-- assignment card -->
        {{ module_item.body }}


      </div>
    </div>
  </div>
</div>



{% endblock %}
