{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<head>
  <title>Polling App</title>
</head>

<body class="">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3">Ben's Programs</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="{% url 'home:homePage' %}" class="nav-item nav-link {% if additional_context.a == 'home' %} active {% endif %}">Home</a>
              <a href="{% url 'home:about' %}" class="nav-item nav-link {% if additional_context.a == 'about' %} active {% endif %}">About Me</a>
              <a href="{% url 'message:index' %}" class="nav-item nav-link {% if additional_context.a == 'posts' %} active {% endif %}">message</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle {% if additional_context.a == 'polling' %} active {% endif %}" data-toggle="dropdown">Polling app</a>
                  <div class="dropdown-menu bg-dark">
                      <a href="{% url 'polls:index' %}" class="dropdown-item {% if additional_context.b == 'index' %} active {% endif %} ">Index</a>
                      <a href="#" class="dropdown-item deactive">More Options comming soon</a>
                  </div>
              </div>
              <a href="https://github.com/Fish4203" class="nav-item nav-link" tabindex="-1">Github</a>
              <a href="{% url 'home:algox' %}" class="nav-item nav-link {% if additional_context.a == 'algox' %} active {% endif %}">Graphs</a>
            </div>
            <div class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}
                <a href="{% url 'home:signout' %}" class="nav-item btn btn-secondary">Signout of {{ request.user }}</a>
              {% else %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Signin
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                    <h2>Login</h2>

                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                    <form class="create" action="{% url 'home:signin' %}" method="post">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="question_name">Username</label><br>
                        <input type="text" name="username" id="username" placeholder="username"><br>
                      </div>

                      <div class="form-group">
                        <label for="option">Password</label><br>
                        <input type="text" id="password" name="password" placeholder="password"><br>
                      </div>

                      <input class='btn btn-success' type="submit" value="signin">

                    </form>
                  </div>
                </div>
              {% endif %}
            </div>
        </div>
    </div>
  </nav>




  {% block content %}{% endblock %}

</body>

<!-- https://startbootstrap.com/templates/ -->
