{% extends 'base.html' %}

{% block content %}






  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Message board
          <small>By Ben</small>
        </h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <!-- Blog Post -->
        {% for post in posts %}
          <div class="card mb-4">
            {% if post.img_link != '' %}
              <img class="card-img-top" src="{{ post.img_link }}" alt="Card image cap">
            {% else %}
              <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h2 class="card-title"> <a href="{% url 'message:post_full' post.title_text %}">{{ post.title_text }}</a></h2>
              <p class="card-text">{{ post.body_text }}</p>
              <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.date }} by
              <a href="#">{{ post.user }}</a>
              {% if post.user == request.user %}
                <a class="btn btn-primary float-right" href="{% url 'message:delete' post.title_text %}">Delete</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}




      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <form class="search" action="{% url 'message:search' %}" method="post">
                {% csrf_token %}
                <input type="text" name='search_text' id='search_text' class="form" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </form>
            </div>
          </div>
        </div>


        <!-- Side Widget -->
        {% if request.user.is_authenticated %}
        <div class="card my-4">

          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

          <h5 class="card-header">Make a new Post</h5>

          <form class="create card-body" action="{% url 'message:new_post' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="post_title">Title</label><br>
              <input type="text" name="post_title" id="post_title" placeholder="title"><br>
            </div>

            <div class="form-group">
              <label for="body_text">What did you want to say</label><br>
              <input type="text" id="body_text" name="body_text" placeholder="What is you favoret colour"><br>
            </div>

            <div class="form-group">
              <label for="img_link">Add an Image (optional)</label><br>
              <input type="text" id="img_link" name="img_link" placeholder="http://yourimage.com"><br>
            </div>

            <input class='btn btn-success' type="submit" value="create">

          </form>
        </div>
        {% endif %}

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
