{% extends 'base.html' %}

{% block content %}


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title_text }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ post.user }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.date }}</p>

        <hr>

        <!-- Preview Image -->
        {% if post.img_link != '' %}
          <img class="card-img-top" src="{{ post.img_link }}" alt="Card image cap">
        {% else %}
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        {% endif %}

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ post.body_text }}</p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form class="comment" action="{% url 'message:new_comment' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name='comment_text' id='comment_text' rows="3"></textarea>
              </div>

              <div class="form-group">
                <input type="hidden" class="form-control" name="post_top" id="post_top" value="{{ post.id }}">
              </div>

              <div class="form-group">
                <input type="hidden" class="form-control" name="submission_type" id="submission_type" value="post">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <h3>Comment section </h3>

        {% for comment in post.comment_link.all %}
          {% if comment.comment_link.all == None %}
            <!-- Single Comment -->
            <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">{{ comment.user.username }}</h5>
                {{ comment.comment_text }}

              </div>
            </div>


          {% else %}
            <!-- Comment with nested comments -->
            <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">{{ comment.user.username }}</h5>
                {{ comment.comment_text }}

                <div class="dropdown float-right">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="comment{{ comment.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reply
                  </button>

                  <div class="dropdown-menu dropdown-menu-right " aria-labelledby="comment{{ comment.id }}">

                    <div class="dropdown-item">

                      <h5>Reply</h5>

                      <form class="comment" action="{% url 'message:new_comment' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <textarea class="form-control" name='comment_text' id='comment_text' rows="2" cols="50"></textarea>
                        </div>

                        <div class="form-group">
                          <input type="hidden" class="form-control" name="post_top" id="post_top" value="{{ comment.id }}">
                        </div>

                        <div class="form-group">
                          <input type="hidden" class="form-control" name="submission_type" id="submission_type" value="{{ post.title_text }}">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>

                    </div>
                  </div>
                </div>

                {% for comments in comment.comment_link.all %}
                  <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                      <h5 class="mt-0">{{ comments.user.username }}</h5>
                      {{ comments.comment_text }}


                    </div>
                  </div>

                {% endfor %}
              </div>
            </div>
            <div class="dropdown-divider"></div>
            {% endif %}
        {% endfor %}
      </div>




      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <form class="search" action="{% url 'message:search' %}" method="post">
                {% csrf_token %}
                <input type="text" name='search_text' id='search_text' class="form" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
              </form>
            </div>
          </div>
        </div>


        <!-- Side Widget -->
        {% if request.user.is_authenticated %}
        <div class="card my-4">

          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

          <h5 class="card-header">Make a new Post</h5>

          <form class="create card-body" action="{% url 'message:new_post' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="post_title">Title</label><br>
              <input type="text" name="post_title" id="post_title" placeholder="title"><br>
            </div>

            <div class="form-group">
              <label for="body_text">What did you want to say</label><br>
              <input type="text" id="body_text" name="body_text" placeholder="What is you favoret colour"><br>
            </div>

            <div class="form-group">
              <label for="img_link">Add an Image (optional)</label><br>
              <input type="text" id="img_link" name="img_link" placeholder="http://yourimage.com"><br>
            </div>

            <input class='btn btn-success' type="submit" value="create">

          </form>
        </div>
        {% endif %}

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
