{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-10">
    <div class="row h-10 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Welcome to the Home page</h1>
        {% if error_message %}<p class="align-center"><strong>{{ error_message }}</strong></p>{% endif %}
        <p class="lead mb-5 text-white-50">This is a message page</p>
      </div>
    </div>
  </div>
</header>



<div class="container">

 <div class="row">
   <div class="col-md-8 mb-5">
     <h2>What to do</h2>
     <hr>
     <p>idk what this is </p>
   </div>
   <div class="col-md-4 mb-5">
     <h2>Feedback</h2>
     <hr>
     <h3>Contacts</h3>
     <address>
       <p>Github: <a href="https://github.com/Fish4203/django_projects">https://github.com/Fish4203/django_projects</a></p>
       <br>
       <p>Email: ryc0001@jmss.vic.edu.au</p>
     </address>
   </div>
 </div>


</div>
<!-- /.container -->


{% endblock %}
